.register-step-one {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.register-mobile-number, input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-button {
  padding: 10px 15px;
  background-color: #30caa0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
