/* General Container */
.new-service {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

/* Title */
.new-service-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

/* Form Container */
.new-service-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Form Elements */
.new-service-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Input Fields */
.service-service-form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.service-form-label {
  font-weight: bold;
  font-size: 1rem;
  color: #444;
}

.service-form-input,
.service-form-textarea,
.service-form-select,
.service-form-file {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.service-form-textarea {
  height: 150px;
  resize: none;
}

/* File Input */
.service-form-file {
  padding: 6px;
}

/* Button */
.service-form-submit-button {
  background-color: #007BFF;
  color: white;
  font-size: 1.1rem;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.service-form-submit-button:hover {
  background-color: #0056b3;
}

/* Placeholder text */
.service-form-input::placeholder,
.service-form-textarea::placeholder {
  color: #888;
}

/* Responsive Design */
@media (max-width: 600px) {
  .new-service-container {
    padding: 15px;
  }

  .new-service-form {
    gap: 15px;
  }

  .service-form-input,
  .service-form-textarea,
  .service-form-select,
  .service-form-file {
    font-size: 0.9rem;
  }
}

.image-wrapper {
  position: relative;
  display: inline-block;
  margin: 5px;
}
.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-preview-wrapper {
  position: relative;
}

.image-preview {
  width: 140px;
  margin: 10px;
  border: 1px solid black;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.remove-image-button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
}

.service-form-file {
  margin-top: 10px;
  cursor: pointer;
}
.upload-more-button {
  display: inline;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.upload-more-button:hover {
  background-color: #45a049;
}


.upload-more-wrapper {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 100px;
  border: 1px dashed #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.plus-icon {
  font-size: 24px;
  font-weight: bold;
  color: #777;
}
