.service-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid #eee5e5;
  border-radius: 15px;
  margin: 10px;
  padding-bottom: 15px;
  width: 300px;
  transition: transform 0.2s ease;
}

.image-container {
  max-width: 300px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.service-title {
  font-size: 20px;
}

.service-map-icon {
  margin-right: 4px;
  color: #666;
}

.service-meta {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 13px;
  color: #555;
}

.service-meta span {
  display: flex;
  align-items: center;
}

.service-meta span::before {
  margin-right: 4px;
}

.service-location,
.service-comments, .service-description {
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
  margin: 3px 0;
}
.service-category {
  color: #666;
  font-weight: 400;
}

.add-new-service {
  position: fixed;
  bottom: 30px;  
  right: 50px;  
 background-color: #e0f7fa;
  border-radius: 50%;
  border-color: #555;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}