/* Wrapper for the search area */
.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  gap: 15px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
  margin-bottom: 20px;
}

/* Search buttons (Location, Categories, Search) */
.search-category {
  padding: 12px 20px;
  background-color: #FFA500;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Shadow on buttons */
}

.search-category:hover {
  background-color: #61dafb;
  transform: scale(1.05); /* Slight hover effect */
}

/* Input wrapper for search */
.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px; /* Adjust width */
}

/* Search input field */
.search-input {
  padding: 12px 30px; /* Padding for input */
  border: 1px solid #ddd;
  border-radius: 50px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, font-size 0.3s ease;
  width: 100%;
}

/* Icon inside the search input */
.search-input-icon {
  position: absolute;
  left: 12px;
  color: #888;
  font-size: 20px;
}

/* Input focus style */
.search-input:focus {
  border-color: #007bff;
  font-size: 18px;
}

/* Icon styling */
.search-icon {
  font-size: 20px;
  color: #333;
}

/* Categories list inside modal */
.categories-list {
  height: 500px;
  
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

/* Product list container */
.product-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  
}
.pagination-container {
  position:relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
}
.clear-category {
  background-color: #e74c3c;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}